:local {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .video {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .topContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .bottomContainer {
    height: 100px;
  }

  .topContentContainer {
    margin-left: 75px;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    max-width: 275px;
    max-height: 200px;
  }

  .loginContainer {
    width: 100%;
    background: rgba(20,20,20, 0.9);
    color: rgb(240,240,240);
    padding: 10px;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 3px;
  }

  .loginContainer hr {
    margin-top: 5px;
  }

  .loginContainerContent {
    padding: 15px;
    font-size: 13px;
  }

  .loginContainerContent input[type=text] {
    width: 100%;
    height: 25px;
    border-radius: 3px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .loginContainerContent hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .loginContainerAction {
    height: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
  }

  .loginContainerAction input {
    margin-right: 5px;
  }

  .loginContainerAction div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25px;
    width: 85px;
  }

  .bottomActions {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .bottomActions p {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
