div.login-page-wrapper {
    height: 100%;
    width: 100%;

    div.content {
        height: 100%;
        padding: 15px;
        box-sizing: border-box;
        background: url('../assets/images/Thresh.jpg') no-repeat;
        background-size: cover;
    }
}