:local {
  .container {
    height: 60px;
    background: url(../../assets/img/home/header-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .headerImage {
    background: url(../../assets/img/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-left: 10px;
    width: 12.5%;
  }

  .statusContainer {
    width: 27.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    background-color: rgba(50,50,50,0.7);
  }

  .playButton {
    background: linear-gradient(to top, #ed213a, #93291e);
    letter-spacing: 1.5px;
    width: 12%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
  }

  .userContainer {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    background-color: rgba(50,50,50,0.7);
  }

  .leftSpace {
    width: 5%;
  }
}